/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-weight: 300;
}

/* Home navbar */
.home-navbar .navbar-text,
.home-navbar .nav-link {
  color: white !important;
}

.home-navbar img {
  filter: invert();
}

/* Buttons */
.btn {
  color: var(--white);
}

.btn-secondary,
.btn-light {
  color: var(--dark);
}

/* Selection*/
::selection {
  background: var(--primary);
  color: var(--white);
}

img::selection {
  background: none;
}
