/* Home navbar */
.home-navbar .navbar-text,
.home-navbar .nav-link {
  color: white !important;
}

/* Buttons */
.btn {
  color: var(--white);
}

.btn-secondary,
.btn-light {
  color: var(--dark);
}

/* Selection*/
::selection {
  background: var(--primary);
  color: var(--white);
}

img::selection {
  background: none;
}

/* wut? */
.formInput {
  width: 35vw;
}
.toppingBtnGrp {
  margin: 5px !important;
}
